spring:
  application:
    name: Starter
  profiles:
    active: local
  datasource:
    url: jdbc:postgresql://localhost:5433/scalum
    username: scalum
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      resource-server:
        jwt:
          issuer-uri: ${keycloak.server-url}/realms/${keycloak.realm}

server:
  servlet:
    context-path: '/api'

keycloak:
  realm: latitude
  server-url: https://keycloak.ambience.co.ke
  client-id: aggregator-backend
  client-secret: RzBmZ82b3iWWBiUC9V2QQYHjUiD3mxdo

logging:
  level:
    root: INFO
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

---
spring:
  config:
    activate:
      on-profile: local
  mail:
    host: localhost
    port: 1025

---
spring:
  config:
    activate:
      on-profile: prod
  mail:
    host: smtp.example.com
    port: 587
    username: user@example.com
    password: password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
