version: '3.8'
services:
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025" # SMTP server
      - "8025:8025" # Web UI

  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: scalum
      POSTGRES_USER: scalum
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  postgres-evolution:
    image: postgres:15
    command: [ "postgres", "-c", "max_connections=1000", "-c", "listen_addresses=*" ]
    restart: always
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=evolution
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - postgres_evolution_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  evolution-api:
    image: atendai/evolution-api:latest
    restart: always
    env_file:
      - evolution.env
    ports:
      - "8081:8080"
    depends_on:
      - postgres-evolution


  redis:
    image: redis:latest
    command: >
      redis-server --port 6379 --appendonly yes
    volumes:
      - evolution_redis:/data
    ports:
      - 6379:6379


volumes:
  postgres_data:
  postgres_evolution_data:
  evolution_redis:
